<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<div class="p-3 mb-2 bg-success text-white text-center">Android TextView</div>

<div id="code">
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-warning" role="alert">
          
        <span><strong><i class="fas fa-code fa-1x"></i> xml</strong></span>
      </div>


      <p>activity_main.xml</p>
      <pre class="prettyprint">




      </pre>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning" role="alert">

        <span><strong><i class="fab fa-java fa-1x"></i> Java</strong></span>
      </div>


      <p>MainActivity.java</p>
      <pre class="prettyprint">




      </pre>
    </div>
  </div>
</div>
