<div id="masthead" class="align-middle">
    <!-- Start: 2 Rows 1+2 Columns -->
    <div class="text-center text-white" style="height: 100%;">
        <div class="container-fluid" style="height: 100%;">
            <div class="row d-md-flex align-items-md-center" style="height: 50%;">
                <div class="col-md-6 align-self-end">
                    <h1 class="display-4 tada animated">Android Notes</h1>
                    <p>dev with notes</p>
                </div>
                <div class="col-md-6 align-self-end"><img src="img/android_os_480px.png" style="width: 90px;">
                </div>
            </div>
            <div class="row d-md-flex" style="height: 50%;">
                <div class="col-md-12 text-center align-self-center">
                    <code class="text-white"><a href="https://moekyawsoe.github.io">MKS</a></code></div>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert"><i class="fas fa-mobile-alt"></i><span><strong> Google Developer Training</strong></span>
          </div>
          </div>
      </div>

    <div class="features-boxed">
        <div class="container">
            <div class="row justify-content-left features">
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://roadmap.sh/android';">
                    <div class="box"><i class="fas fa-road icon" style="color: #d81e05;"></i>
                        <h5 class="name">Android Developer Roadmap</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://github.com/moekyawsoe/android-developer-roadmap';">
                    <div class="box"><i class="fas fa-road icon" style="color: #d81e05;"></i>
                        <h5 class="name">Android Developer Roadmap 2020</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="switchView('views/Pages/funAndDev.html')">
                    <div class="box"><i class="fab fa-java icon" style="color: #d81e05;"></i>
                        <h5 class="name">Fundamental Android Application Development (Java)</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="switchView('views/Pages/AdvAndDev.html')">
                    <div class="box"><i class="fab fa-java icon" style="color: #d81e05;"></i>
                        <h5 class="name">Advanced Android Application Development (Java)</h5>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row" style="padding: 5px;">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert"><i class="fas fa-mobile-alt"></i><span><strong> Documentation Websites</strong></span>
          </div>
          </div>
      </div>

    <div class="features-boxed">
        <div class="container">
            <div class="row justify-content-left features">
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://developer.android.com/index.html';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Official Documentation</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://blog.google/products/android/';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Official Android Blog</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='http://android-developers.blogspot.com/';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Android Developer Blog</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://codelabs.developers.google.com/';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Google IO Codelab</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://www.udacity.com/courses/android';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Online Udacity Course</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://developers.google.com/android/for-all/vocab-words/';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Android Vocalbulary Tools</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://developers.google.com/training';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Google Developer Trainings Website</h5>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 item" onclick="location.href='https://github.com/google-developer-training/android-fundamentals';">
                    <div class="box"><i class="fab fa-android icon" style="color: #d81e05;"></i>
                        <h5 class="name">Source code for exercises</h5>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End: 2 Rows 1+2 Columns -->
</div>