
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="mx-auto header-content">
                    <h1 class="mb-5">ကူးရေးပါ</h1>
                    <p>Copy &amp; Paste Easy Going</p>
                </div>
            </div>
            <div class="col text-center m-auto"><img
                    src="/img/android_os_480px.png" style="width: 120px;">
            </div>
        </div>
    </div>
</header>