<div id="masthead" class="align-middle">
    <!-- Start: 2 Rows 1+2 Columns -->
    <div class="text-center text-white" style="height: 100%;">
        <div class="container-fluid" style="height: 100%;">
            <div class="row d-md-flex align-items-md-center" style="height: 50%; padding-top: 50px;">
                <div class="col-md-6 align-self-end">
                    <h1 class="display-4 tada animated">ကူးရေးပါ</h1>
                    <p>Copy &amp; Paste Easy Coding</p>
                </div>
                <div class="col-md-6 align-self-end"><img src="img/android_os_480px.png" style="width: 90px;">
                </div>
            </div>
            <div class="row d-md-flex" style="height: 50%;">
                <div class="col-md-12 text-center align-self-center">
                    <code class="text-white"><a href="https://moekyawsoe.github.io">Developed by MKS</a></code></div>
            </div>
        </div>
    </div>
    <!-- End: 2 Rows 1+2 Columns -->
</div>