<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Fundamental Android Application Development (Java)</strong></h1>
        <h3 class="text-center text-white" style="padding-top: 5px;"><strong id="cstitle">Google Developer Training</strong></h3>
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-md-3">
        <div class="alert alert" role="alert" onclick="switchView('/index.html')"><i class="fas fa-arrow-left"></i><span><strong> Back</strong></span>
        </div>
        </div>
    </div>

    <div class="features-boxed">
      <div class="container">

          <div class="row justify-content-left features">

              <div class="col-sm-6 col-md-5 col-lg-3 item"onclick="window.open('https://drive.google.com/drive/folders/1eu-LXxiHocSktGYpG04PfE9Xmr_pBY5P?usp=sharing','_blank');">
                  <div class="box"><i class="fab fa-google-drive" style="color: #d81e05;"></i>
                      <h5 class="name">Google Slides</h5>
                  </div>
              </div>

              
          </div>
      </div>
  </div>

   
  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->