<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android AutoComplete
            TextView</strong></h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;androidx.constraintlayout.widget.ConstraintLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:app=&quot;http://schemas.android.com/apk/res-auto&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    tools:context=&quot;.MainActivity&quot;&gt;


    &lt;AutoCompleteTextView
        android:id=&quot;@+id/idAutoCompTextView&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:completionThreshold=&quot;1&quot;
        app:layout_constraintEnd_toEndOf=&quot;parent&quot;
        app:layout_constraintStart_toStartOf=&quot;parent&quot;
        app:layout_constraintTop_toTopOf=&quot;parent&quot; /&gt;

    &lt;TextView
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:layout_marginStart=&quot;8dp&quot;
        android:layout_marginEnd=&quot;8dp&quot;
        android:layout_marginBottom=&quot;32dp&quot;
        android:text=&quot;Input Text:  \n Mg Mg , Ko Ko , Bo Bo , Mg Hla , Ma Mya , Kyaw Kyaw , Ni Ni , Aye Aye , Lin Lin , Tun Tun , Nyi Nyi , NayToe , Kyaw Kyaw Bo , PyiTeeOo , Sai Sai , Java , Kotlin ,Python , Dart , Flutter , html , css , javascript , bootstrap , jquery , nodejs , ajax , php , laravel , .net , C , C++ , C# , Visual Basic , MySQL&quot;
        app:layout_constraintBottom_toBottomOf=&quot;parent&quot;
        app:layout_constraintEnd_toEndOf=&quot;parent&quot;
        app:layout_constraintStart_toStartOf=&quot;parent&quot;
        app:layout_constraintTop_toBottomOf=&quot;@+id/idAutoCompTextView&quot;
        app:lineHeight=&quot;30dp&quot; /&gt;
&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;

        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fab fa-java"></i><span><strong> Java</strong></span>
        </div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
          
package dev.mks.demoplayground;

import android.os.Bundle;
import android.widget.ArrayAdapter;
import android.widget.AutoCompleteTextView;

import androidx.appcompat.app.AppCompatActivity;

public class MainActivity extends AppCompatActivity {

    AutoCompleteTextView autoCompleteTextView;
    String [] texts={&quot;Mg Mg&quot;,&quot;Ko Ko&quot;,&quot;Bo Bo&quot;,&quot;Mg Hla&quot;,&quot;Ma Mya&quot;,&quot;Kyaw Kyaw&quot;,&quot;Ni Ni&quot;,&quot;Aye Aye&quot;,&quot;Lin Lin&quot;,
            &quot;Tun Tun&quot;,&quot;Nyi Nyi&quot;,&quot;NayToe&quot;,&quot;Kyaw Kyaw Bo&quot;,&quot;PyiTeeOo&quot;,&quot;Sai Sai&quot;,&quot;Java&quot;,&quot;Kotlin&quot;,&quot;Python&quot;,&quot;Dart&quot;,&quot;Flutter&quot;,&quot;html&quot;,&quot;css&quot;,
            &quot;javascript&quot;,&quot;jquery&quot;,&quot;nodejs&quot;,&quot;ajax&quot;,&quot;bootstrap&quot;,&quot;php&quot;,&quot;laravel&quot;,&quot;.net&quot;,&quot;C&quot;,&quot;C++&quot;,&quot;C#&quot;,&quot;Visual Basic&quot;,&quot;MySQL&quot;};

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);


        autoCompleteTextView= (AutoCompleteTextView) findViewById(R.id.idAutoCompTextView);
        ArrayAdapter&lt;String&gt; adapter = new ArrayAdapter&lt;String&gt;(this,android.R.layout.simple_list_item_1,texts);
        autoCompleteTextView.setAdapter(adapter);
    }
}


        </pre>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert"><i class="fas fa-mobile-alt"></i><span><strong> Output</strong></span>
        </div>
        </div>
    </div>
    <div class="row" style="padding-top: 5px;">
        <div class="col-md-3">
          
          <img class="img-fluid img-thumbnail" src="img/output/autocomtextview.png">
          
          
        </div>
      </div>
  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->