<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android CheckedTextView</strong></h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;RelativeLayout
    xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    tools:context=&quot;.MainActivity&quot;&gt;

    &lt;CheckedTextView
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idCheckedTextView&quot;
        android:checked=&quot;true&quot;
        android:checkMark=&quot;?android:attr/listChoiceIndicatorMultiple&quot;
        android:text=&quot;CheckBox1&quot;
        android:gravity=&quot;center_vertical&quot;
        android:drawableLeft=&quot;@mipmap/ic_launcher&quot;/&gt;
&lt;/RelativeLayout&gt;


        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i
            class="fab fa-java"></i><span><strong> Java</strong></span></div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
import android.os.Bundle;
import android.support.v7.app.AppCompatActivity;
import android.view.View;
import android.widget.CheckedTextView;


public class MainActivity extends AppCompatActivity {
    private CheckedTextView checkedTextView;
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        checkedTextView = (CheckedTextView) findViewById(R.id.idCheckedTextView);
        checkedTextView.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View view) {
                checkedTextView.toggle();
            }
        });

    }
}

        </pre>
      </div>
    </div>
  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->