<script
    src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
                <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android
                        TextView</strong></h1>
            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong>
                            xml</strong></span>
                </div>
                <p style="padding-left: 20px;">main_activity.xml</p>
                <pre class="prettyprint">



        </pre>
            </div>
            <div class="col-md-6">
                <div class="alert alert-warning" role="alert"><i class="fab fa-java"></i><span><strong>
                            Java</strong></span></div>
                <p style="padding-left: 20px;">MainActivity.java</p>
                <pre class="prettyprint">




        </pre>
            </div>
        </div>
    </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->