<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android CustomToast</strong></h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    tools:context=&quot;tutorials.android.com.autocompletetextview.MainActivity&quot;
    android:orientation=&quot;vertical&quot;&gt;

    &lt;Button
        android:id=&quot;@+id/idbtn&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:onClick=&quot;btnClick&quot;
        android:text=&quot;ClickMe&quot;
        android:layout_gravity=&quot;center&quot;
        /&gt;
&lt;/LinearLayout&gt;

        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i
            class="fab fa-java"></i><span><strong> Java</strong></span></div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
import android.content.Context;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.Gravity;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import android.widget.Button;
import android.widget.Toast;


public class MainActivity extends AppCompatActivity  {
    Button btn;
    View viewLayout;
   @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        btn = (Button) findViewById(R.id.idbtn);
        LayoutInflater layoutInflater = getLayoutInflater();
        viewLayout =layoutInflater.inflate(R.layout.custom_toast, (ViewGroup) findViewById(R.id.custom_layout));
 }
    public void btnClick(View v){
        Toast toast1 = Toast.makeText(this,"Toast:Gravity.TOP",Toast.LENGTH_SHORT);
        toast1.setGravity(Gravity.CENTER,0,0);
        toast1.setView(viewLayout);
        toast1.show();


    }
        </pre>
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">custom_toast.xml</p>
        <pre class="prettyprint">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;RelativeLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    android:orientation=&quot;vertical&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    android:id=&quot;@+id/custom_layout&quot;&gt;

    &lt;ImageView
        android:layout_width=&quot;wrap_content&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idImage&quot;
        android:src=&quot;@drawable/download&quot;
        android:layout_centerHorizontal=&quot;true&quot;
        /&gt;
    &lt;TextView
        android:layout_width=&quot;wrap_content&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:layout_below=&quot;@+id/idImage&quot;
        android:text=&quot;This is a  Message&quot;
        style=&quot;@android:style/TextAppearance.Large&quot;
        android:layout_centerHorizontal=&quot;true&quot;/&gt;
&lt;/RelativeLayout&gt;
    
            </pre>
      </div>
      
    </div>

  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->