<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android ImageSwitcher</strong></h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;RelativeLayout
    xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    tools:context=&quot;.MainActivity&quot;&gt;

    &lt;TextView
        android:layout_width=&quot;wrap_content&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;ImageSwitcher Example&quot;
        android:id=&quot;@+id/textView&quot;
        android:layout_centerHorizontal=&quot;true&quot;
        android:textColor=&quot;#0000ff&quot;
        android:textSize=&quot;35dp&quot; /&gt;

    &lt;ImageSwitcher
        android:layout_width=&quot;wrap_content&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idImageSwitcher&quot;
        android:layout_below=&quot;@+id/textView&quot;
        android:layout_centerHorizontal=&quot;true&quot;
        android:layout_marginTop=&quot;16dp&quot;
        /&gt;

    &lt;LinearLayout
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:layout_alignParentBottom=&quot;true&quot;
        android:orientation=&quot;horizontal&quot;&gt;
    &lt;Button
        android:layout_width=&quot;0dp&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;Previous&quot;
        android:layout_weight=&quot;1&quot;
        android:id=&quot;@+id/idBtnPrevious&quot;
         /&gt;

    &lt;Button
        android:layout_width=&quot;0dp&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;Next&quot;
        android:layout_weight=&quot;1&quot;
        android:id=&quot;@+id/idBtnNext&quot;
         /&gt;
    &lt;/LinearLayout&gt;
&lt;/RelativeLayout&gt;
        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i
            class="fab fa-java"></i><span><strong> Java</strong></span></div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
import android.os.Bundle;
import android.support.v7.app.ActionBar;
import android.support.v7.app.AppCompatActivity;
import android.view.View;
import android.widget.Button;
import android.widget.ImageSwitcher;
import android.widget.ImageView;
import android.widget.Toast;
import android.widget.ViewSwitcher;

public class MainActivity extends AppCompatActivity {
    private ImageSwitcher switcher;
    private Button btnPrevious,btnNext;
    private static final int[] IMAGES = { R.drawable.illusion1, R.drawable.illusion2,R.drawable.illusion3,
                                          R.drawable.illusion4,R.drawable.illusion5 };
    private int mPosition = -1;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        btnPrevious = (Button) findViewById(R.id.idBtnPrevious);
        btnNext = (Button) findViewById(R.id.idBtnNext);

        switcher = (ImageSwitcher) findViewById(R.id.idImageSwitcher);
        switcher.setFactory(new ViewSwitcher.ViewFactory() {
            @Override
            public View makeView() {
                ImageView imageView = new ImageView(getApplicationContext());
                imageView.setScaleType(ImageView.ScaleType.FIT_CENTER);
                imageView.setLayoutParams(new ImageSwitcher.LayoutParams(ActionBar.LayoutParams.WRAP_CONTENT, ActionBar.LayoutParams.WRAP_CONTENT));
                return imageView;
            }
        });

        btnNext.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View view) {
                if(mPosition<IMAGES.length-1){
                    mPosition = mPosition+1;
                    switcher.setBackgroundResource(IMAGES[mPosition]);
                    Toast.makeText(getApplicationContext(),"Position: "+ mPosition,Toast.LENGTH_SHORT).show();
                }

            }
        });

        btnPrevious.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View view) {
                if(mPosition>0){
                    mPosition = mPosition-1;
                    switcher.setBackgroundResource(IMAGES[mPosition]);
                    Toast.makeText(getApplicationContext(),"Position: "+ mPosition,Toast.LENGTH_SHORT).show();
                }
            }
        });
    }
}
        </pre>
      </div>
    </div>
  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->