<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android Rotate Animation</strong></h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
xmlns:tools=&quot;http://schemas.android.com/tools&quot;
android:layout_width=&quot;match_parent&quot;
android:layout_height=&quot;match_parent&quot;
android:orientation=&quot;vertical&quot;
tools:context=&quot;.MainActivity&quot;&gt;

&lt;!-- TODO: Update blank fragment layout --&gt;
  &lt;ImageView
    android:layout_weight=&quot;4&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    android:id=&quot;@+id/idImageView&quot;
    android:src=&quot;@drawable/menu_icon&quot;/&gt;
&lt;Button
    android:layout_margin=&quot;4dp&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;wrap_content&quot;
    android:id=&quot;@+id/idbtnRotateClock&quot;
    android:text=&quot;RotateClock&quot; /&gt;
&lt;Button
    android:layout_margin=&quot;4dp&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;wrap_content&quot;
    android:id=&quot;@+id/idbtnRotateAntiClock&quot;
    android:text=&quot;RotateAntiClock&quot; /&gt;

&lt;/LinearLayout&gt;
        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i
            class="fab fa-java"></i><span><strong> Java</strong>.</span></div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.view.animation.Animation;
import android.view.animation.AnimationUtils;
import android.widget.Button;
import android.widget.ImageView;

public class MainActivity extends AppCompatActivity {
    Button btnZoomIn,btnZoomOut;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        btnZoomIn = (Button) findViewById(R.id.idbtnRotateClock);
        btnZoomIn.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImageView image = (ImageView) getActivity().findViewById(R.id.idImageView);
                Animation animation = AnimationUtils.loadAnimation(getActivity(),
                        R.anim.rotate_clockwise);
                image.startAnimation(animation);
            }
        });
        btnZoomOut = (Button) findViewById(R.id.idbtnRotateAntiClock);
        btnZoomOut.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImageView image = (ImageView) getActivity().findViewById(R.id.idImageView);
                Animation animation = AnimationUtils.loadAnimation(getActivity(),
                        R.anim.rotate_anticlockwise);
                image.startAnimation(animation);
            }
        });

    }
}
        </pre>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">res/anim/rotate_anticlockwise.xml</p>
        <pre class="prettyprint">
&lt;set xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;&gt;
&lt;rotate android:fromDegrees=&quot;360&quot;
    android:toDegrees=&quot;0&quot;
    android:pivotX=&quot;50%&quot;
    android:pivotY=&quot;50%&quot;
    android:duration=&quot;1000&quot;
    android:repeatMode=&quot;restart&quot;
    android:repeatCount=&quot;infinite&quot;
    android:interpolator=&quot;@android:anim/cycle_interpolator&quot;/&gt;

&lt;/set&gt;
        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">res/anim/rotate_clockwise.xml</p>
        <pre class="prettyprint">
&lt;set xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;&gt;
&lt;rotate android:fromDegrees=&quot;0&quot;
    android:toDegrees=&quot;360&quot;
    android:pivotX=&quot;50%&quot;
    android:pivotY=&quot;50%&quot;
    android:duration=&quot;1000&quot;
    android:repeatMode=&quot;restart&quot;
    android:repeatCount=&quot;infinite&quot;
    android:interpolator=&quot;@android:anim/cycle_interpolator&quot;/&gt;

&lt;/set&gt;
        </pre>
      </div>
     
    </div>
  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->