<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div
        class="col-md-12 text-center"
        style="background-color: rgb(20, 255, 0);"
      >
        <h1 class="text-center text-dark" style="padding-top: 5px;">
          <strong id="cstitle">Android Slide Animation</strong>
        </h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    xmlns:tools=&quot;http://schemas.android.com/tools&quot;
    android:id=&quot;@+id/activity_main&quot;
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;match_parent&quot;
    android:orientation=&quot;vertical&quot;
    tools:context=&quot;.MainActivity&quot;&gt;

    &lt;!-- TODO: Update blank fragment layout --&gt;
    &lt;ImageView
        android:layout_weight=&quot;4&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;match_parent&quot;
        android:id=&quot;@+id/idImageView&quot;
        android:src=&quot;@mipmap/ic_launcher&quot;/&gt;
    &lt;Button
        android:layout_margin=&quot;4dp&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idbtnSlideLeft&quot;
        android:text=&quot;SlideLeft&quot; /&gt;
    &lt;Button
        android:layout_margin=&quot;4dp&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idbtnSlideRight&quot;
        android:text=&quot;SlideRight&quot; /&gt;
    &lt;Button
        android:layout_margin=&quot;4dp&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idbtnSlideUp&quot;
        android:text=&quot;SlideUp&quot; /&gt;
    &lt;Button
        android:layout_margin=&quot;4dp&quot;
        android:layout_width=&quot;match_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:id=&quot;@+id/idbtnSlideDown&quot;
        android:text=&quot;SlideDown&quot; /&gt;

&lt;/LinearLayout&gt;
        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
          <i class="fab fa-java"></i><span><strong> Java</strong></span>
        </div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.view.animation.Animation;
import android.view.animation.AnimationUtils;
import android.widget.Button;
import android.widget.ImageView;

public class MainActivity extends AppCompatActivity {
    Button btnSlideUp,btnSlideDown,btnSlideLeft,btnSlideRight;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        btnSlideLeft = (Button) findViewById(R.id.idbtnSlideLeft);
        btnSlideLeft.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImageView image = (ImageView) findViewById(R.id.idImageView);
                Animation animation = AnimationUtils.loadAnimation(getApplicationContext(),
                        R.anim.slide_left);
                image.startAnimation(animation);
            }
        });
        btnSlideRight = (Button) findViewById(R.id.idbtnSlideRight);
        btnSlideRight.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImageView image = (ImageView) findViewById(R.id.idImageView);
                Animation animation = AnimationUtils.loadAnimation(getApplicationContext(),
                        R.anim.slide_right);
                image.startAnimation(animation);
            }
        });
        btnSlideUp = (Button) findViewById(R.id.idbtnSlideUp);
        btnSlideUp.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImageView image = (ImageView) findViewById(R.id.idImageView);
                Animation animation = AnimationUtils.loadAnimation(getApplicationContext(),
                        R.anim.slide_top);
                image.startAnimation(animation);
            }
        });
        btnSlideDown = (Button) findViewById(R.id.idbtnSlideDown);
        btnSlideDown.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                ImageView image = (ImageView) findViewById(R.id.idImageView);
                Animation animation = AnimationUtils.loadAnimation(getApplicationContext(),
                        R.anim.slide_bottom);
                image.startAnimation(animation);
            }
        });

    }
}
        </pre>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">res/anim/slide_left.xml</p>
        <pre class="prettyprint">
&lt;set xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
android:fillAfter=&quot;true&quot;&gt;

&lt;scale
    android:duration=&quot;2000&quot;
    android:fromXScale=&quot;1.0&quot;
    android:fromYScale=&quot;1.0&quot;
    android:toXScale=&quot;0.0&quot;
    android:toYScale=&quot;1.0&quot; /&gt;

&lt;/set&gt;
        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">res/anim/slide_right.xml</p>
        <pre class="prettyprint">
&lt;set xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
android:fillAfter=&quot;true&quot;&gt;

&lt;scale
    android:duration=&quot;2000&quot;
    android:fromXScale=&quot;0&quot;
    android:fromYScale=&quot;1.0&quot;
    android:toXScale=&quot;1.0&quot;
    android:toYScale=&quot;1.0&quot; /&gt;

&lt;/set&gt;
        </pre>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">res/anim/slide_top.xml</p>
        <pre class="prettyprint">
&lt;set xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
android:fillAfter=&quot;true&quot; &gt;

&lt;scale
    android:duration=&quot;2000&quot;
    android:fromXScale=&quot;1.0&quot;
    android:fromYScale=&quot;1.0&quot;
    android:interpolator=&quot;@android:anim/linear_interpolator&quot;
    android:toXScale=&quot;1.0&quot;
    android:toYScale=&quot;0.0&quot; /&gt;

&lt;/set&gt;
        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
          <i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">res/anim/slide_bottom.xml</p>
        <pre class="prettyprint">
&lt;set xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
android:fillAfter=&quot;true&quot;&gt;

&lt;scale
    android:duration=&quot;2000&quot;
    android:fromXScale=&quot;1.0&quot;
    android:fromYScale=&quot;0.0&quot;
    android:toXScale=&quot;1.0&quot;
    android:toYScale=&quot;1.0&quot; /&gt;

&lt;/set&gt;

        </pre>
      </div>
    </div>
  </div>
</div>

