<script
  src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=java&amp;skin=default"></script>

<!-- Start: 2 Rows 1+2 Columns -->
<div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 text-center" style="background-color: rgb(20,255,0);">
        <h1 class="text-center text-dark" style="padding-top: 5px;"><strong id="cstitle">Android WebView</strong></h1>
      </div>
    </div>
    <div class="row" style="padding-top: 5px;">
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i class="fas fa-code"></i><span><strong> xml</strong></span>
        </div>
        <p style="padding-left: 20px;">main_activity.xml</p>
        <pre class="prettyprint">
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
xmlns:tools=&quot;http://schemas.android.com/tools&quot;
android:layout_width=&quot;match_parent&quot;
android:layout_height=&quot;match_parent&quot;
android:layout_marginTop=&quot;?attr/actionBarSize&quot;
android:orientation=&quot;vertical&quot;
&gt;

&lt;EditText
    android:layout_width=&quot;match_parent&quot;
    android:layout_height=&quot;wrap_content&quot;
    android:id=&quot;@+id/idTxt&quot;
    android:text=&quot;https://opencv-tutorials-hub.blogspot.in&quot;/&gt;
&lt;Button
    android:layout_width=&quot;wrap_content&quot;
    android:layout_height=&quot;wrap_content&quot;
    android:text=&quot;Click&quot;
    android:id=&quot;@+id/btnWebview&quot;
    android:layout_gravity=&quot;center_horizontal&quot;/&gt;

&lt;!-- TODO: Update blank fragment layout --&gt;
&lt;WebView  xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    android:id=&quot;@+id/webview&quot;
    android:layout_width=&quot;fill_parent&quot;
    android:layout_height=&quot;fill_parent&quot;
    /&gt;

&lt;/LinearLayout&gt;

        </pre>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning" role="alert"><i
            class="fab fa-java"></i><span><strong> Java</strong></span></div>
        <p style="padding-left: 20px;">MainActivity.java</p>
        <pre class="prettyprint">
public class MainActivity extends AppCompatActivity {
  Button btnWeb;
      EditText editTxt;
      @Override
      protected void onCreate(Bundle savedInstanceState) {
          super.onCreate(savedInstanceState);
          setContentView(R.layout.activity_main);
          btnWeb = (Button) findViewById(R.id.btnWebview);
          editTxt = (EditText) findViewById(R.id.idTxt);
          btnWeb.setOnClickListener(new View.OnClickListener() {
              @Override
              public void onClick(View view) {
                  String s = editTxt.getText().toString();
                  WebView browser = (WebView) findViewById(R.id.webview);
                  browser.setWebViewClient(new WebViewClient());
                  browser.loadUrl(s);
              }
          });
  
      }
  }
        </pre>
      </div>
    </div>
  </div>
</div>
<!-- End: 2 Rows 1+2 Columns -->